# Bibliotecas

---

In [3]:
import mlflow
import pandas as pd
from pathlib import Path

In [4]:
ROOT_PATH = '../../data/'

In [5]:
uri = "http://localhost:5000"

mlflow.set_tracking_uri(uri)

In [6]:
model_name = "random_forest"
model_version = "champion"

model = mlflow.pyfunc.load_model(f"models:/{model_name}@{model_version}")
model

mlflow.pyfunc.loaded_model:
  artifact_path: random_forest
  flavor: mlflow.sklearn
  run_id: 4b95acdff3df40c0834fea3e8e21e949

In [7]:
data_path = '../../data/ending_data.csv'
df = pd.read_csv(ROOT_PATH + 'lending_data.csv')

In [8]:
input_data = df.loc[df['default.payment.next.month'] == 1].sample(10)

input_data

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
13315,13316,240000.0,2,2,1,40,-2,-2,-2,-2,...,0.0,0.0,1306.0,0.0,0.0,0.0,0.0,1306.0,0.0,1
20842,20843,180000.0,1,1,1,40,-2,-2,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
26501,26502,180000.0,2,3,1,61,0,0,0,0,...,23599.0,24069.0,24573.0,1353.0,1380.0,1392.0,862.0,892.0,1000.0,1
20992,20993,460000.0,1,1,2,44,2,2,2,2,...,299739.0,304319.0,299400.0,12000.0,12500.0,11000.0,11000.0,0.0,27000.0,1
10024,10025,170000.0,1,2,1,46,0,0,0,0,...,84456.0,69871.0,62012.0,4300.0,3314.0,3050.0,2600.0,2600.0,4860.0,1
8598,8599,50000.0,2,2,2,24,1,2,0,0,...,17575.0,14691.0,14393.0,0.0,2199.0,1000.0,5000.0,2000.0,5000.0,1
12930,12931,50000.0,1,1,2,24,0,0,2,2,...,32152.0,34668.0,33961.0,3000.0,2000.0,0.0,3200.0,0.0,1600.0,1
103,104,50000.0,2,3,2,22,0,0,0,0,...,32496.0,23477.0,24094.0,1767.0,1362.0,1002.0,840.0,995.0,904.0,1
10684,10685,230000.0,1,3,2,30,1,-2,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
21401,21402,120000.0,2,2,3,59,2,2,2,2,...,86910.0,87893.0,86370.0,0.0,7898.0,3300.0,3300.0,0.0,3149.0,1

In [9]:
model.predict(input_data.drop("default.payment.next.month", axis=1))

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 1])